* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

.main {
    max-width: 1100px;
    height: 700px;
    background: linear-gradient(90deg, rgba(0,255,203,1) 0%, rgba(37,174,199,1) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    width: 500px;
    height: 600px;
    background-color: #fff;
}

.header{
    color: rgb(4, 141, 168);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.btn{
    background: linear-gradient(90deg, rgba(78,85,194,1) 0%, rgba(0,212,255,1) 90%);
    width: 430px;
    height: 55px;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: none;
}

.btn > span{
   font-family: sans-serif;
   font-size: medium;
}

.input1{
    border: none;
    margin-top: 75px;
    margin-left: 50px;
    font-size: larger;
    width: 400px;
    border-bottom: 1px solid gray;
}

.tick{
    margin-left: 40px;
    font-size: large;
    font-family: sans-serif;
    color: gray;
}

.question{
    font-size: large ;
    font-family: sans-serif;
    margin-left: 120px;
    color: gray;
}

.sign{
    color: rgb(4, 141, 168); ;
}